<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-lg px-4 md:px-8">
    <div class="mb-6 sm:mb-10 lg:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Carrito</h2>
    </div>

    <div class="mb-5 flex flex-col sm:mb-8 sm:divide-y sm:border-t sm:border-b">

      {{#each products}}
      <div class="py-5 sm:py-8">
        <div class="flex flex-wrap gap-4 sm:py-2.5 lg:gap-6">
          <div class="sm:-my-2.5">
            <a href="http://localhost:8080/products/{{this.product._id}}"
              class="group relative block h-40 w-24 overflow-hidden rounded-lg bg-gray-100 sm:h-56 sm:w-40">
              <img src="{{this.product.thumbnails.[0]}}" alt="{{this.product.title}}"
                class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
            </a>
          </div>

          <div class="flex flex-1 flex-col justify-between">
            <div>
              <a href="http://localhost:8080/products/{{this.product._id}}"
                class="mb-1 inline-block text-lg font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl">{{this.product.title}}</a>

              <span class="block text-gray-500">{{this.product.category}}</span>
              <span class="block text-gray-500">Cantidad: {{this.quantity}}</span>
            </div>

            <div>
              <span class="mb-1 block font-bold text-gray-800 md:text-lg">{{this.quantity}}x
                ${{this.product.price}}</span>
            </div>
          </div>
        </div>
      </div>
      {{/each}}

    </div>

  </div>
</div>